[submodule "source/_posts/Cpp-Miner"]
	path = source/_posts/Cpp-Miner
	url = https://github.com/Mes0903/Cpp-Miner

[submodule "themes/next"]
	path = themes/next
	url = https://github.com/next-theme/hexo-theme-nex
