[submodule "src/Cpp-Miner"]
	path = src/Cpp-Miner
	url = git@github.com:Mes0903/Cpp-Miner.git
	branch = my-blog
[submodule "src/OS/xv6-riscv-book-zh-TW"]
	path = src/OS/xv6-riscv-book-zh-TW
	url = git@github.com:Mes0903/xv6-riscv-book-zh-TW.git
[submodule "/home/mes/writing-workbench/MesBlog/src/ComputerGraphic/glTF-Tutorials-zh-TW"]
	path = /home/mes/writing-workbench/MesBlog/src/ComputerGraphic/glTF-Tutorials-zh-TW
	url = git@github.com:Mes0903/glTF-Tutorials-zh-TW.git
