.green {
  color:#29E5A9;
}

.yellow {
  color:#F1EF78;
}

.brown {
  color:#990000;
}

.pink {
  color:#DD9FBD;
}

.red {
  color:#E71B18 ;
}

.orange {
  color:#E8A635;
}

.purple {
  color:#AC9FDD;
}

.blue {
  color:#20DEE5;
}

.ivory {
  color:#FFFFF0;
}

.pearl {
  color:#EAE0C8;
}

.beige {
  color:#F5F5DC;
}

.cornsilk {
  color:#FFF8DC;
}

.gainsboro {
  color:#DCDCDC;
}

.light_grey {
  color:#D3D3D3;
}

.silver {
  color:#C0C0C0;
}

.dark_grey {
  color:#A9A9A9;
}

.wheat {
  color:#F5DEB3;
}

.burlywood {
  color:#DEB887;
}

.tan {
  color:#D2B48C;
}
